# Default ignored files
/shelf/
/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# Local executable
/chess-engine/src/programa.exe
#Cmake build folder
/build/
/_codeql_build_dir/
/_codeql_detected_source_root
# Old IDEA project files
/.idea/
# Multiplayer libs, to be downloaded by the user who tries to use this
/chess-engine/src/minimalserverc++formultiplayerimplementation/multiplayernecesarylibs/
